
<!-- EditModal -->
<div class="modal fade" id="editModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="editModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 900px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalCenterTitle">编辑</h5>
        <button type="button" class="close" @click="closeCatalogsModal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="modal-body" class="modal-body">

        <draggable v-model="catalogs" :options="{group:'catalogs'}" @start="drag=true" @end="drag=false">
          <div v-for="catalog in catalogs" :key="catalog.id">
            <div class="calalog clearfix">
              <div class="calalog-title" @click="editCatalog(catalog)">
                <span class="drag-handle">☰</span>
                <span class="name-text">{{catalog.title}}</span>
                <button type="button" class="btn btn-link float-right del" @click.stop.prevent="deleteCatalog(catalog)">
                  <span>&times;</span>
                </button>
              </div>
              <draggable v-model="catalog.links" :options="{group:catalog.id}" @start="drag=true" @end="drag=false" class="row calalog-items">
                <div v-for="link in catalog.links" :key="link.id" class="calalog-item text-dark"
                     style="border:1px dashed rgba(125,125,125,0.5);"  @click="editLink(link)">
                  <img :src="link.icon" height="16" width="16" class="nav-icon">
                  <div class="nav-text">
                    <span class="nav-text-content">{{link.title}}</span>
                  </div>
                  <button type="button" class="btn btn-link float-right del" @click.stop.prevent="deleteLink(catalog,link)">
                    <span>&times;</span>
                  </button>
                </div>
              </draggable>
            </div>
          </div>
        </draggable>

      </div>
      <div class="modal fade" id="newCatalogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <template v-if="edit_catalog==null">
                <h5 class="modal-title" id="exampleModalLongTitle">新建分类</h5>
              </template>
              <template v-else>
                <h5 class="modal-title" id="exampleModalLongTitle">编辑分类</h5>
              </template>
            </div>
            <div class="modal-body">
              <template v-if="edit_catalog==null">
                <input type="text" class="form-control" placeholder="新分类" v-model="new_catalog_title">
              </template>
              <template v-else>
                <input type="text" class="form-control" v-model="edit_catalog.title">
              </template>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" @click="$('#newCatalogModal').modal('hide');edit_catalog=null;">Close</button>
              <button type="button" class="btn btn-primary" @click="saveCatalog">Save</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="newLinkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <template v-if="edit_link==null">
                <h5 class="modal-title" id="exampleModalLongTitle">新建链接</h5>
              </template>
              <template v-else>
                <h5 class="modal-title" id="exampleModalLongTitle">编辑链接</h5>
              </template>
            </div>
            <div class="modal-body">
              <template v-if="edit_link==null">
                <input type="text" class="form-control" placeholder="地址" v-model="new_link_url">
                <div class="input-group" style="margin-bottom: 5px;margin-top: 5px;">
                  <div class="input-group-prepend">
                    <img :src="new_link_icon" height="24" width="24" class="nav-icon" style="margin: 6px">
                  </div>
                  <input type="text" class="form-control" placeholder="标题" v-model="new_link_title">
                </div>
                <select class="form-control" v-model="new_link_catalog_id">
                  <option v-for="catalog in catalogs" :value="catalog.id">
                    {{ catalog.title }}
                  </option>
                </select>
              </template>
              <template v-else>
                <input type="text" class="form-control" v-model="edit_link.url">
                <div class="input-group" style="margin-bottom: 5px;margin-top: 5px;">
                  <div class="input-group-prepend">
                    <img :src="edit_link.icon" height="24" width="24" class="nav-icon" style="margin: 6px">
                  </div>
                  <input type="text" class="form-control" v-model="edit_link.title">
                </div>
                <select class="form-control" v-model="edit_link.catalog_id">
                  <option v-for="catalog in catalogs" :value="catalog.id">
                    {{ catalog.title }}
                  </option>
                </select>
              </template>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" @click="$('#newLinkModal').modal('hide');edit_link=null;">Close</button>
              <button type="button" class="btn btn-primary" @click="saveLink">Save</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div style="width: 100%;">
          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#newCatalogModal">
            <span class="text-dark" style="font-size: 14px;">+分类</span>
          </button>
          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#newLinkModal" v-show="isShowNewLink">
            <span class="text-dark" style="font-size: 14px;">+链接</span>
          </button>
        </div>
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
        <button type="button" class="btn btn-primary" @click="uploadCatalogs">保存</button>
      </div>
    </div>
  </div>
</div>

<script>
    var app = new Vue({
        el: '#editModalCenter',
        data: {
            catalogs: [],
            catalogs_str: '<%== @catalogs %>',
            new_catalog_title: '',
            new_link_catalog_id: '',
            new_link_title: '',
            new_link_url: '',
            new_link_icon: '',
            edit_catalog: null,
            edit_link: null
        },
        computed: {
            isShowNewLink: function () {
                return this.catalogs.length>0
            }
        },
        created: function () {
            this.catalogs = JSON.parse(this.catalogs_str)
        },
        watch: {
            'edit_link.url': function (newUrl, oldUrl) {
                var that = this
                if (oldUrl != null && newUrl != ''){
                    var url = $.url(newUrl).attr('base')+'/favicon.ico';
                    axios.get('/test_icon_url',{
                        params: {
                            url: url,
                            authenticity_token: '<%= form_authenticity_token %>'
                        }
                    }).then(function (response) {
                        if (that.edit_link != null) {
                            that.edit_link.icon = response['data'];
                        }
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },
            new_link_url: function (newUrl, oldUrl) {
                var that = this
                if (newUrl==''){
                    that.new_link_icon = ''
                } else {
                    var url = $.url(newUrl).attr('base')+'/favicon.ico';
                    axios.get('/test_icon_url',{
                        params: {
                            url: url,
                            authenticity_token: '<%= form_authenticity_token %>'
                        }
                    }).then(function (response) {
                        that.new_link_icon = response['data'];
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            }
        },
        methods: {
            uploadCatalogs: function () {
                console.log(this.catalogs)
                console.log(JSON.stringify(this.catalogs))
                axios.post('/set_catalogs', {
                    data: JSON.stringify(this.catalogs),
                    authenticity_token: '<%= form_authenticity_token %>'
                }).then(function (response) {
                    console.log(response);
                    $('#editModalCenter').modal('hide');
                    location.reload();
                }).catch(function (error) {
                    console.log(error);
                });
            },
            closeCatalogsModal: function () {
                $('#editModalCenter').modal('hide');
                this.catalogs = JSON.parse(this.catalogs_str)
            },
            deleteCatalog: function (catalog) {
                this.removeFromList(this.catalogs, catalog)
            },
            deleteLink: function (catalog, link) {
                this.removeFromList(catalog.links, link)
            },
            editCatalog: function(catalog){
                this.edit_catalog = catalog
                $('#newCatalogModal').modal('show');
            },
            editLink: function(link){
                this.edit_link = link
                $('#newLinkModal').modal('show');
            },
            saveCatalog: function () {
                if(this.edit_catalog!=null){
                    $('#newCatalogModal').modal('hide');
                    this.edit_catalog=null;
                }else {
                    if(this.new_catalog_title!=''){
                        this.catalogs.push(JSON.parse('{"id":'+this.getRandomTmpId()+',"title":"'+this.new_catalog_title+'","links":[]}'));
                        $('#newCatalogModal').modal('hide');
                        this.new_catalog_title = '';
                    }
                }
            },
            saveLink: function () {
                if(this.edit_link!=null){
                    for (var i=0;i<this.catalogs.length;i++){
                        if(this.catalogs[i].id == this.edit_link.catalog_id && this.catalogs[i].links.indexOf(this.edit_link)<0){
                            this.catalogs[i].links.push(this.edit_link)
                        }else if(this.catalogs[i].id != this.edit_link.catalog_id && this.catalogs[i].links.indexOf(this.edit_link)>=0){
                            this.removeFromList(this.catalogs[i].links,this.edit_link);
                        }
                    }
                    $('#newLinkModal').modal('hide');
                    this.edit_link=null;
                }else {
                    if(this.new_link_catalog_id!=''||this.new_link_title!=''||this.new_link_title!=''){
                        for( var index = 0; index < this.catalogs.length; index ++){
                            if(this.catalogs[index].id == this.new_link_catalog_id){
                                this.catalogs[index].links.push(JSON.parse('{"id":'+this.getRandomTmpId()+',"title":"'+this.new_link_title+'","catalog_id":2,"url":"'+this.new_link_url+'","icon":"'+this.new_link_icon+'"}'));
                            }
                        }
                        this.new_link_catalog_id= '';
                        this.new_link_title= '';
                        this.new_link_url= '';
                        this.new_link_icon= '';
                        $('#newLinkModal').modal('hide');
                    }
                }
            },
            removeFromList: function(arr, val) {
                var index = arr.indexOf(val);
                if (index > -1) {
                    arr.splice(index, 1);
                }
            },
            getRandomTmpId: function () {
                return Math.floor(Math.random()*(-10000)-1);
            }
        }
    })
</script>