
<!-- EditModal -->
<div class="modal fade" id="editModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="editModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 900px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalCenterTitle">编辑</h5>
        <button type="button" class="close" @click="closeCatalogsModal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="modal-body" class="modal-body">

        <draggable v-model="catalogs" :options="{group:'catalogs'}" @start="drag=true" @end="drag=false">
          <div v-for="catalog in catalogs" :key="catalog.id">
            <div class="calalog clearfix">
              <div class="calalog-title" @click="editCatalog(catalog)">
                <span class="drag-handle">☰</span>
                <span class="name-text">{{catalog.title}}</span>
                <button type="button" class="btn btn-link float-right del" @click.stop.prevent="deleteCatalog(catalog)">
                  <span>&times;</span>
                </button>
              </div>
              <draggable v-model="catalog.links" :options="{group:catalog.id}" @start="drag=true" @end="drag=false" class="row calalog-items">
                <div v-for="link in catalog.links" :key="link.id" class="calalog-item text-dark"
                     style="border:1px dashed rgba(125,125,125,0.5);"  @click="editLink(link)">
                  <img :src="link.icon" height="16" width="16" class="nav-icon">
                  <div class="nav-text">
                    <span class="nav-text-content">{{link.title}}</span>
                  </div>
                  <button type="button" class="btn btn-link float-right del" @click.stop.prevent="deleteLink(catalog,link)">
                    <span>&times;</span>
                  </button>
                </div>
              </draggable>
            </div>
          </div>
        </draggable>

      </div>

      <div class="modal fade" id="newCatalogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <template v-if="edit_catalog==null">
                <h5 class="modal-title" id="exampleModalLongTitle">新建分类</h5>
              </template>
              <template v-else>
                <h5 class="modal-title" id="exampleModalLongTitle">编辑分类</h5>
              </template>
            </div>
            <div class="modal-body">
              <template v-if="edit_catalog==null">
                <input type="text" class="form-control" placeholder="新分类" v-model="new_catalog_title">
              </template>
              <template v-else>
                <input type="text" class="form-control" v-model="edit_catalog.title">
              </template>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" @click="editCatalogCancel">Close</button>
              <button type="button" class="btn btn-primary" @click="saveCatalog">Save</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="newLinkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <template v-if="edit_link==null">
                <h5 class="modal-title" id="exampleModalLongTitle">新建链接</h5>
              </template>
              <template v-else>
                <h5 class="modal-title" id="exampleModalLongTitle">编辑链接</h5>
              </template>
            </div>
            <div class="modal-body">
              <template v-if="edit_link==null">
                <input type="text" class="form-control" placeholder="地址" v-model="new_link_url">
                <div class="input-group" style="margin-bottom: 5px;margin-top: 5px;">
                  <div class="input-group-prepend">
                    <img :src="new_link_icon" height="24" width="24" class="nav-icon" style="margin: 6px">
                  </div>
                  <input type="text" class="form-control" placeholder="标题" v-model="new_link_title">
                </div>
                <select class="form-control" v-model="new_link_catalog_id">
                  <option v-for="catalog in catalogs" :value="catalog.id">
                    {{ catalog.title }}
                  </option>
                </select>
              </template>
              <template v-else>
                <input type="text" class="form-control" v-model="edit_link.url">
                <div class="input-group" style="margin-bottom: 5px;margin-top: 5px;">
                  <div class="input-group-prepend">
                    <img :src="edit_link.icon" height="24" width="24" class="nav-icon" style="margin: 6px">
                  </div>
                  <input type="text" class="form-control" v-model="edit_link.title">
                </div>
                <select class="form-control" v-model="edit_link.catalog_id">
                  <option v-for="catalog in catalogs" :value="catalog.id">
                    {{ catalog.title }}
                  </option>
                </select>
              </template>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" @click="editLinkCancel">Close</button>
              <button type="button" class="btn btn-primary" @click="saveLink">Save</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div style="width: 100%;">
          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#newCatalogModal">
            <span class="text-dark" style="font-size: 14px;">+分类</span>
          </button>
          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#newLinkModal" v-show="isShowNewLink">
            <span class="text-dark" style="font-size: 14px;">+链接</span>
          </button>
        </div>
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
        <button type="button" class="btn btn-primary" @click="uploadCatalogs">保存</button>
      </div>
    </div>
  </div>
</div>