<!DOCTYPE html>
<html>
<head>
  <title>登录 - Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/application.css">
</head>

<body>

<div class="container-fluid">
  <div class="signin-body">
    <form class="form-signin" action="/users/sign_in" method="post">

      <h2>登录</h2>

      <label class="sr-only">Email</label>
      <input name="email" type="email" autofocus autocomplete="email" class="form-control" placeholder="邮箱">
      <label class="sr-only">Password</label>
      <input name="password" type="password" autocomplete="off" class="form-control" placeholder="密码">

      <div class="checkbox">
        <input type="checkbox" name="remember_me"> 记住我
      </div>

      {{if .Alert}}
      <div class="text-danger">{{.Alert}}</div>
      {{end}}

      <button type="submit" class="btn btn-lg btn-primary btn-block login-btn">登录</button>

      <a href="/users/sign_up" class="btn btn-lg btn-secondary btn-block login-btn">注册</a>
      <a href="/">忘记密码?</a>
    </form>
  </div>
</div>

</body>
</html>
